<a href="https://colab.research.google.com/github/bu718300/python_start/blob/main/0127.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1번
x = input('아이디를 입력하세요. >> ')
y = input('이름을 입력하세요. >> ')
print('아이디가',x,'인',y,'님이 로그인되었습니다.')

아이디를 입력하세요. >> root
이름을 입력하세요. >> 홍길동
아이디가 root 인 홍길동 님이 로그인되었습니다.

In [ ]:
#2번
x = 35
y = 7
print('두 수의 합은', x+y)
print('두 수의 차는', x-y)
print('두 수의 곱은', x*y)
print('두 수의 나눗셈은', x/y)
print('나누고나서의 나머지는', x%y)

두 수의 합은 42
두 수의 차는 28
두 수의 곱은 245
두 수의 나눗셈은 5.0
나누고나서의 나머지는 0

In [ ]:
#3번
x = int(input('현재 나이를 입력하세요. >> '))
print('홍길동님의 10년 후의 나이는',x+10,'세입니다.')

현재 나이를 입력하세요. >> 20
홍길동님의 10년 후의 나이는 30 세입니다.

In [ ]:
#4번
x = int(input('엄마 용돈주세요. >> '))
if x>10000:
  print('엄마 용돈이 많아요.')
elif x==10000:
  print('딱 적당해요!')
else: print('엄마 용돈이 적어요.')

엄마 용돈주세요. >> 10000
딱 적당해요!

In [ ]:
#5번
x = int(input('숫자를 입력하세요. >> '))
if x%2==1: 
  print('홀수입니다.')
else: print('짝수입니다.')

숫자를 입력하세요. >> 156489161564
짝수입니다.

In [ ]:
#6번
x = int(input('실적을 입력하세요. >> '))
if x>=1000:
  print('축하합니다. 실적을 달성하였습니다.')
  print('당신의 이번달 보너스는',int(x*0.2),'만원 입니다.')
else: print('실적을 달성하지 못하였습니다.')

실적을 입력하세요. >> 2500
축하합니다. 실적을 달성하였습니다.
당신의 이번달 보너스는 500 만원 입니다.

In [ ]:
#7번
x = input('미사일 이름은? >> ')
y = float(input('미사일 시작값은? >> '))
z = float(input('미사일이 움직이는 값은? >> '))
print(x,'미사일이',y+z,'로 이동되었습니다.')

미사일 이름은? >> 슛
미사일 시작값은? >> 200
미사일이 움직이는 값은? >> -10.5
슛 미사일이 189.5 로 이동되었습니다.

In [ ]:
#8번
x = 10000
y = 7500
z = y*0.1
print('부가세는',z,'원 이며, 잔돈은',x-y,'원 입니다.')

부가세는 750.0 원 이며, 잔돈은 2500 원 입니다.

In [ ]:
#9번 #코드는 맞는데 1000개는 너무 길어서 10개만 보이게했어요!
x = '☆'
for i in range(0,10):
  print(x,end='')

☆☆☆☆☆☆☆☆☆☆

In [ ]:
#10번
for x in range(1,21):
  print(x)
for x in range(1,21):
  print(x,end=' ')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
#11번
for x in range(1,51,1):
  if x%2==0:
    print(x, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [ ]:
#12번
count = 0
for x in range(1,1001,1):
  if x % 3 == 0:
    count = count + 1     #3으로 나눈 나머지가 0일때마다 count가 1씩 증가

print(count)

333

In [ ]:
#13번 #무한루프
food_list = ['']
while True:
  data = input('먹고 싶은 음식 입력(종료:x) >> ')
  if data == 'x':
    print('입력을 종료합니다.')
    break
  else: food_list.append(data)

먹고 싶은 음식 입력(종료:x) >> 돈까스
먹고 싶은 음식 입력(종료:x) >> 김치찌개
먹고 싶은 음식 입력(종료:x) >> 짜장면
먹고 싶은 음식 입력(종료:x) >> 햄버거
먹고 싶은 음식 입력(종료:x) >> x
입력을 종료합니다.

In [ ]:
#14번
food_list = ['돈까스','김치찌개','짜장면','햄버거','삼겹살']
for x in range(0,5):
  print(food_list[x], end=' ')
print()
print(food_list[0],food_list[4])
print(food_list[3])
print(food_list[2:])

돈까스 김치찌개 짜장면 햄버거 삼겹살
돈까스 삼겹살
햄버거
['짜장면', '햄버거', '삼겹살']

In [ ]:
#15번
list = []
list.append('네이버')
print(list)
list.append('카카오')
print(list)
list.append('구글')
print(list)
list.append('링크드인')
print(list)

['네이버']
['네이버', '카카오']
['네이버', '카카오', '구글']
['네이버', '카카오', '구글', '링크드인']

In [ ]:
#16번
score = []
score.append(100)
score.append(88)
score.append(99)
sum = 0
for x in score:
  sum = sum + x
print('총 평균은',sum/len(score),'점 입니다')

총 평균은 95.66666666666667 점 입니다

In [ ]:
#17번
count = 0
while True:
  data = int(input('정답은? >> '))
  count = count+1
  if data == 77:
    print('정답입니다.')
    break
  elif data > 77:
    print('그것보다 작습니다.')
  elif data < 77:
    print('그것보다 큽니다.')
print('당신의 총 시도 횟수는',count,'회 입니다.')

정답은? >> 100
그것보다 작습니다.
정답은? >> 50
그것보다 큽니다.
정답은? >> 80
그것보다 작습니다.
정답은? >> 77
정답입니다.
당신의 총 시도 횟수는 4 회 입니다.

In [ ]:
#18번
x = int(input('입금액: '))
y = float(input('이자율: '))
print('--------------------------')
print('1년 후 받게 될 금액은:',int(x+x*y),'원')

입금액: 10000
이자율: 0.2
--------------------------
1년 후 받게 될 금액은: 12000 원

In [194]:
#20번
list2 = []
list2.append('여의도')
list2.append('신촌')
list2.append('강남')
list2.append('속초')
list2.append('제주도')
print(list2) #1)
del list2[2]
print(list2) #2)
list2[3] = '제주시'
print(list2) #3)
for index in range(len(list2)):
  print(index +1, list2[index]) #4

['여의도', '신촌', '강남', '속초', '제주도']
['여의도', '신촌', '속초', '제주도']
['여의도', '신촌', '속초', '제주시']
1 여의도
2 신촌
3 속초
4 제주시

In [213]:
#19번
me = {}
me['나이'] = '28세'
me['키'] = '173cm'
me['몸무게'] = '00kg'
me["성별"] = '남자'
me["지역"] = '신촌'
print(me)
print(me['나이'])
print(me['지역'])

{'나이': '28세', '키': '173cm', '몸무게': '00kg', '성별': '남자', '지역': '신촌'}
28세
신촌

In [242]:
#추가문제
c1 = [22,99,11,23]
c2 = [44,99,24,55]
c3 = c1 + c2
print(c3)
for x in range(len(c1)):
  if c1[x] == c2[x]:
    print(c1[x])

[22, 99, 11, 23, 44, 99, 24, 55]
99

In [245]:
#조 답안 12번 코드
c1 = [22,99,11,23]
c2 = [44,99,66,23]
count=0
for x in range(len(c1)):
  if c1[x] == c2[x]:
    count=count+1
    print(c1[x])
print(count)

99
23
2