In [ ]:
print('hello')

hello

In [ ]:
print('안녕하세요.')
print('저는 홍길동입니다.')

안녕하세요.
저는 홍길동입니다.

In [ ]:
# 은 설명을 씀, 컨트롤+/, comment, 주석
# 입력: 데이터를 가지고 와야감.
# 처리: 적절한 처리
# 출력: 처리한 결과를 내보는 일(모니터, 파일, db저장, 네트워크 전송)

In [ ]:
name = input('이름을 입력하세요 >> ') #간단한 처리(기호를 씀): 연산 => 연산자
# = : 대입연산자

이름을 입력하세요 >> 홍길동

In [ ]:
print(name)

홍길동

In [ ]:
age = input('나이를 입력하세요 >> ')
print(age)

나이를 입력하세요 >> 28
28

In [ ]:
company = input('소속을 입력하세요 >> ')
print(company)

소속을 입력하세요 >> mega
mega

In [ ]:
location = '신촌'

In [ ]:
number = 2

In [ ]:
height = 173

In [ ]:
food_lunch = True

In [ ]:
age2 = input('나이 입력>> ') #100 #컴퓨터에서 입력한 데이터는 타입을 무조건 스트링으로 인식
#스트링을 정수로 바꾸어 쓰는(강제 캐스팅) 결정을 프로그래머가 한다.
print('내년나이는',int(age2) + 1)

나이 입력>> 100
내년나이는 101

In [ ]:
# 두 수를 입력을 받아서, 사칙연산을 해보세요.
number_first = int(input('첫번째 숫자는 >> '))
number_second = int(input('두번째 숫자는 >> '))
print('두 수의 합은',number_first + number_second)
print('두 수의 차는',number_first - number_second)
print('두 수의 곱은',number_first * number_second)
print('두 수의 나눗셈은',number_first / number_second)
print('정수로 표현된 나눗셈은',number_first // number_second) #정수로 표현

첫번째 숫자는 >> 100
두번째 숫자는 >> 20
두 수의 합은 120
두 수의 차는 80
두 수의 곱은 2000
두 수의 나눗셈은 5.0
정수로 표현된 나눗셈은 5

In [ ]:
me = '커피'
me2 = '우유'
print(me+me2) #문자열로 결합시켜라(결합연산자)

커피우유

In [ ]:
price = 1000
print(me + '가격은' + str(price) + '원')

커피가격은1000원

In [ ]:
coffee_price = int(input('커피값 입력:'))
coffee_count = int(input('커피 인원수:'))
sum = coffee_price*coffee_count

커피값 입력:5000
커피 인원수:5

In [ ]:
if sum>= 20000:
  print('20000원 이상입니다.')
  print(sum-2000,'원 결제하세요.')
else:
  print('20000원 미만입니다.')
  print(sum,'원 결제하세요.')

20000원 이상입니다.
23000 원 결제하세요.

In [ ]:

n1=int(input('1년 만기 정기 예금을 얼마나 예치하시겠습니까?>>'))
n2=n1//10
sum=n1+n2
print('원금이',n1,'원 이시군요!')
print('이자는',n2,'원 입니다!')
print('원리합계는',sum,'원 입니다.')

1년 만기 정기 예금을 얼마나 예치하시겠습니까?>>20000
원금이 20000 원 이시군요!
이자는 2000 원 입니다!
원리합계는 22000 원 입니다.

In [ ]:
s1=int(input('영어점수 입력:'))
s2=int(input('수학점수 입력:'))
s3=int(input('국어점수 입력:'))
sum=s1+s2+s3
average=(s1+s2+s3)//3
print('--------------------------')
print('세 과목의 합은',sum)
print('세 과목의 평균은',average)

영어점수 입력:85
수학점수 입력:90
국어점수 입력:95
--------------------------
세 과목의 합은 270
세 과목의 평균은 90

In [ ]:
t1=int(input('지금은 몇 시 입니까?'))
if t1<12:
  print('점심 전입니다. 맛있게 드세요!')
else:
  print('점심 후입니다.')

지금은 몇 시 입니까?17
점심 후입니다.

In [ ]:
print('원래 가입한 아이디는 root임')
id=input('로그인할 id를 입력>>')
if id=='root':
  print('로그인 되었습니다.')
else: print('로그인되지 않았습니다.')

원래 가입한 아이디는 root임
로그인할 id를 입력>>root
로그인 되었습니다.

In [ ]:
n1=1000
m1=3*n1
n2=2500
m2=4*n2
sum=(m1+m2)*0.9
print('내가 낸 금액은 얼마일까요?')
print(int(sum),'원 입니다')

내가 낸 금액은 얼마일까요?
11700 원 입니다